*{
    padding: 0;
    margin: 0;
    font-family:Arial;
}
.container{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
body{
    background-color: #34344e;
}
h1{
    color:#e3e3e3;
    font-size:30px;
    padding: 20px;
    margin: 4px;
}
h1:hover{
    color: aqua;
}
section{
    background-color: aquamarine;
}